<div class="align-left alert alert-danger" ng-if="errorMessageExist === true">
    <div>error messages:</div>
    <li ng-repeat="error in personSearchResultMessages">
        {{error.value}}
    </li>
</div>

<div style="width:100%;" ng-if="personSearchCompleted == false">
    <form name="personSearchForm" class="form-horizontal" novalidate>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Name</legend>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.firstName.$invalid && personSearchForm.firstName.$dirty}">
                        <label class="col-md-3 text-right" for="firstName">First Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   ng-model="personSearchCriteriaInfo.person.firstName">
                        </div>
                    </div>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.middleName.$invalid && personSearchForm.person.middleName.$dirty}">
                        <label class="col-md-3 text-right" for="middleName">Middle Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="middleName" name="middleName"
                                   ng-model="personSearchCriteriaInfo.person.middleName">
                        </div>
                    </div>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.lastName.$invalid && personSearchForm.lastName.$dirty}">
                        <label class="col-md-3 text-right" for="lastName">*Last Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   ng-model="personSearchCriteriaInfo.person.lastName">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Person</legend>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.dateOfBirth.$invalid && personSearchForm.dateOfBirth.$dirty}">
                        <label class="col-md-3 text-right" for="dateOfBirth">*Date of Birth</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                   ng-model="personSearchCriteriaInfo.person.birthDate">
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <span class="sr-only">Date Picker:</span>
                            <small>(DOB) format: YYYYMMDD)</small>
                        </div>
                    </div>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.gender.$invalid && personSearchForm.gender.$dirty}">
                        <label class="col-md-3 text-right" for="gender">*Gender</label>
                        <div class="col-md-2">
                            <select class="form-control" id="gender" name="gender"
                                    ng-model="personSearchCriteriaInfo.person.gender">
                                <option value="">Select One</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="U">Undifferentiated</option>
                            </select>
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.primaryPhoneNumber.$invalid && personSearchForm.primaryPhoneNumber.$dirty}">
                        <label class="col-md-3 text-right" for="primaryPhoneNumber">Primary Phone</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="primaryPhoneNumber" name="primaryPhoneNumber"
                                   ng-model="personSearchCriteriaInfo.person.phones[0].phoneNumber">

                        </div>
                        <div class="col-md-4">
                            <small>(format: ##########)</small>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Address</legend>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.streetAddress.$invalid && personSearchForm.streetAddress.$dirty}">
                        <label class="col-md-3 text-right" for="streetAddress">Street Address</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="streetAddress" name="streetAddress"
                                   ng-model="personSearchCriteriaInfo.person.addresses[0].street1">
                        </div>
                    </div>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.city.$invalid && personSearchForm.city.$dirty}">
                        <label class="col-md-3 text-right" for="city">City</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="city" name="city"
                                   ng-model="personSearchCriteriaInfo.person.addresses[0].city">
                        </div>
                    </div>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.state.$invalid && personSearchForm.state.$dirty}">
                        <label class="col-md-3 text-right" for="state">State</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="state" name="state"
                                   ng-model="personSearchCriteriaInfo.person.addresses[0].state">
                        </div>
                    </div>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.zipcode.$invalid && personSearchForm.zipcode.$dirty}">
                        <label class="col-md-3 text-right" for="zipcode">Zip Code</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="zipcode" name="zipcode"
                                   ng-model="personSearchCriteriaInfo.person.addresses[0].zip">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Indentification</legend>
                    <div class="form-group form-group-sm { 'has-error' : personSearchForm.ssn.$invalid && personSearchForm.ssn.$dirty}">
                        <label class="col-md-3 text-right" for="ssn">SSN</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="ssn" name="ssn"
                                   ng-model="personSearchCriteriaInfo.person.ssn">
                        </div>
                    </div>
                    <div class="form-group form-group-sm invisible">
                        <label class="col-md-3 text-right" for="placeHoldercity">City</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="placeHoldercity">
                        </div>
                    </div>
                    <div class="form-group form-group-sm invisible">
                        <label class="col-md-3 text-right" for="placeHolderState">State</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="placeHolderState">
                        </div>
                    </div>
                    <div class="form-group form-group-sm invisible">
                        <label class="col-md-3 text-right" for="placeHolderZipcode">Zip Code</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="placeHolderZipcode">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <div class="pull-left">
                    <button class="btn btn-default" type="submit" value="Submit" ng-click="reset(personSearchForm)">Clear</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit" value="Submit" ng-disabled="personSearchForm.$invalid"
                            ng-click="search(personSearchCriteriaInfo)">Search
                    </button>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </form>
</div>
<div ng-if="personSearchCompleted == true">
    <div class="row bottom-buffer-15">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div ng-show="isAttendedSearch()"><strong>Please confirm that this is the person you want to set up as your
                VA Healthcare Proxy:</strong></div>
        </div>
    </div>
    <div class="row bottom-buffer-15">
        <div class="col-md-1"></div>
        <div class="col-md-1"><strong>Delegate:</strong></div>
        <div class="col-md-10 nopadding">{{selectedPerson.firstName}} {{selectedPerson.lastName}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-md-1"></div>
        <div class="col-md-1"><strong>SSN:</strong></div>
        <div class="col-md-10 nopadding">{{selectedPerson.maskedSsn}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-md-1"></div>
        <div class="col-md-1"><strong>Gender:</strong></div>
        <div class="col-md-10 nopadding">{{selectedPerson.gender}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-md-1"></div>
        <div class="col-md-1"><strong>Date of Birth:</strong></div>
        <div class="col-md-10 nopadding">{{selectedPerson.birthDate}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-md-1"></div>
        <div class="col-md-1"><strong>Address:</strong></div>
        <div class="col-md-10 nopadding">{{selectedPerson.displayPrimaryAddress}}</div>
    </div>
</div>