<div class="va-modal-container">
    <div class="va-modal-seal-header-container">
        <img class="va-seal-img" src="images/va-seal.png">
    </div>
    <div class="va-modal-body-container">
        <form name="resturnToSearchForm" novalidate>
            <div class="row" style="padding: 10px;">
                <div class="col-md-12">
                    <p>This will delete your search results and you will have to
                        re-enter your search information.</p>
                </div>
            </div>
            <div class="row" style="padding: 10px;">
                <div class="col-md-12">
                    <div style="float: right">
                        <button class="btn btn-primary" type="button" ng-click="ok()">
                            OK
                        </button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>