<div class="row" ng-if="personSearchCompleted == false">
    <div class="col-md-12">
        <p><strong>Enter Delegate information:</strong></p>

        <p>Please enter data so we can search for the person who will become your [Delegation Type]. We will use the
            information you enter to search VA records. We recommended providing as much information as possible to
            ensure optimal search results.</p>

        <p>Please enter SSN if you know it. If you do not know the person's SSN, please include full address and
            phone.</p>

        <p>* Required fields</p>
    </div>
</div>
<div class="align-left alert alert-danger" ng-if="errorMessageExist === true">
    <div>error messages:</div>
    <li ng-repeat="error in personSearchResultMessages">
        {{error.value}}
    </li>
</div>
<div style="width:100%;" ng-if="personSearchCompleted == false">
    <form name="personSearchForm" class="form-horizontal" novalidate>

        <div class="row">
            <div class="col-xs-6 padding-right-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Name</legend>
                    <div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.firstName.$invalid && personSearchForm.firstName.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="firstName">
                                <div class="content">
                                    <span>First Name</span>
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       ng-model="personSearchCriteriaInfo.person.firstName">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.middleName.$invalid && personSearchForm.person.middleName.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="middleName">
                                <div class="content">
                                    Middle Name
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="middleName" name="middleName"
                                       ng-model="personSearchCriteriaInfo.person.middleName">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.lastName.$invalid && personSearchForm.lastName.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="lastName">
                                <div class="content">
                                    *Last Name
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       ng-model="personSearchCriteriaInfo.person.lastName" required>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-6 padding-left-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Person</legend>
                    <div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.dateOfBirth.$invalid && personSearchForm.dateOfBirth.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="dateOfBirth">
                                <div class="content">
                                    *Date of Birth
                                </div>
                            </label>

                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                       ng-model="personSearchCriteriaInfo.person.birthDate" maxlength="8" required>
                            </div>
                            <div class="col-xs-4">
                                <div class="content">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <span class="sr-only">Date Picker:</span>
                                    <small>(DOB) format: YYYYMMDD)</small>
                                </div>
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.gender.$invalid && personSearchForm.gender.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="gender">
                                <div class="content">
                                    *Gender
                                </div>
                            </label>

                            <div class="col-xs-5">
                                <select class="form-control" id="gender" name="gender"
                                        ng-model="personSearchCriteriaInfo.person.gender" required>
                                    <option value="">Select One</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                    <option value="U">Undifferentiated</option>
                                </select>
                            </div>
                            <div class="col-xs-3">&nbsp;</div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.primaryPhoneNumber.$invalid && personSearchForm.primaryPhoneNumber.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="primaryPhoneNumber">
                                <div class="content">
                                    Primary Phone
                                </div>
                            </label>

                            <div class="col-xs-4">
                                <input type="text" class="form-control" id="primaryPhoneNumber"
                                       name="primaryPhoneNumber"
                                       ng-model="personSearchCriteriaInfo.person.phones[0].phoneNumber" maxlength="10">

                            </div>
                            <div class="col-xs-4">
                                <div class="content">
                                    <small>(format: ##########)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-xs-6 padding-right-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Address</legend>
                    <div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.streetAddress.$invalid && personSearchForm.streetAddress.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="streetAddress">
                                <div class="content">
                                    Street Address
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="streetAddress" name="streetAddress"
                                       ng-model="personSearchCriteriaInfo.person.addresses[0].street1">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.city.$invalid && personSearchForm.city.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="city">
                                <div class="content">
                                    City
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="city" name="city"
                                       ng-model="personSearchCriteriaInfo.person.addresses[0].city">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.state.$invalid && personSearchForm.state.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="state">
                                <div class="content">
                                    State
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="state" name="state"
                                       ng-model="personSearchCriteriaInfo.person.addresses[0].state">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.zipcode.$invalid && personSearchForm.zipcode.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="zipcode">
                                <div class="content">
                                    Zip Code
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="zipcode" name="zipcode"
                                       ng-model="personSearchCriteriaInfo.person.addresses[0].zip">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-6 padding-left-5">
                <fieldset class="va-person-search-border">
                    <legend class="va-person-search-border">Identification</legend>
                    <div>
                        <div class="fieldset-container form-group form-group-sm { 'has-error' : personSearchForm.ssn.$invalid && personSearchForm.ssn.$dirty}">
                            <label class="col-xs-4 text-right v-center" for="ssn">
                                <div class="content">
                                    SSN
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="ssn" name="ssn"
                                       ng-model="personSearchCriteriaInfo.person.ssn">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm invisible">
                            <label class="col-xs-4 text-right v-center" for="placeHoldercity">
                                <div class="content">
                                    City
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="placeHoldercity">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm invisible">
                            <label class="col-xs-4 text-right v-center" for="placeHolderState">
                                <div class="content">
                                    State
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="placeHolderState">
                            </div>
                        </div>
                        <div class="fieldset-container form-group form-group-sm invisible">
                            <label class="col-xs-4 text-right v-center" for="placeHolderZipcode">
                                <div class="content">
                                    Zip Code
                                </div>
                            </label>

                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="placeHolderZipcode">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-default pull-left" type="submit" value="Submit"
                        ng-click="resetForm(personSearchForm)">
                    Clear
                </button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-primary pull-right" type="submit" value="Submit"
                        ng-disabled="personSearchForm.$invalid"
                        ng-click="search(personSearchCriteriaInfo)">Search
                </button>
            </div>
        </div>
    </form>
</div>
<div ng-if="personSearchCompleted == true">

    <div class="row">
        <div class="col-xs-12">
            <div ng-show="isAttendedSearch()">
                <strong>Please confirm that this is the person you want to set up as your VA Healthcare Proxy:</strong>
            </div>
        </div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-xs-2 text-right"><strong>Delegate:</strong></div>
        <div class="col-xs-10 nopadding">{{selectedPerson.firstName}} {{selectedPerson.lastName}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-xs-2 text-right"><strong>SSN:</strong></div>
        <div class="col-xs-10 nopadding">{{selectedPerson.maskedSsn}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-xs-2 text-right"><strong>Gender:</strong></div>
        <div class="col-xs-10 nopadding">{{selectedPerson.gender}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-xs-2 text-right"><strong>Date of Birth:</strong></div>
        <div class="col-xs-10 nopadding">{{selectedPerson.birthDate}}</div>
    </div>

    <div class="row bottom-buffer-15">
        <div class="col-xs-2 text-right"><strong>Address:</strong></div>
        <div class="col-xs-10 nopadding">{{selectedPerson.displayPrimaryAddress}}</div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row bottom-buffer-15">
        <div class="col-xs-6">
            <button class="btn btn-default pull-left" type="submit" value="Submit"
                    ng-click="displayReturnToSearchModal(panel)">
                Return to Search
            </button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary pull-right" type="submit" value="Submit"
                    ng-disabled="personSearchForm.$invalid"
                    ng-click="confirmDelegate();confirm(panel)">Confirm VA Healthcare Proxy
            </button>
        </div>
    </div>
</div>