<div ng-controller="DelegationAccordionController">
    <script type="text/ng-template" id="group-template.html">
        <div>
            <div class="display:inline-block;border: 1px solid yellow;">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </div>
            <div class="display:inline-block;border: 1px solid orange;">
                Hello
            </div>
        </div>
    </script>

    <uib-accordion close-others="enableOnePanelAtATime">
        <uib-accordion-group is-open="panel.isOpen" ng-repeat="panel in accordionPanels">
            <uib-accordion-heading>
                {{panel.title}}
                <i class="pull-right glyphicon"
                   ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}">
                </i>
            </uib-accordion-heading>
            <!--div ng-if="panel.isOpen"-->
            <ng-include src="panel.contentUrl"></ng-include>
            <!--/div-->
        </uib-accordion-group>
        <uib-accordion-group heading="{{panel.title}}" is-open="panel.isOpen" template-url="group-template.html"
                             ng-repeat="panel in accordionPanels">
            <!--div ng-if="panel.isOpen"-->
            <ng-include src="panel.contentUrl"></ng-include>
            <!--/div-->
        </uib-accordion-group>
    </uib-accordion>

</div>